.btn-black{
	@include btn-color($white, $black, transparent);
	@include border-sm;

	&:hover,
	&:focus{
		background-color: transparent;
		color: $white;
		border-color: $white;
	}
	&.btn-base{
		&:hover{
			color: $black;
			border-color: $black; 
		}
	}
}

.btn-transparent{
	@include btn-color($white, transparent, transparent);
	@include border-sm;
	border-color: $white;

	&:hover,
	&:focus{
		color: $white;
		border-color: transparent; 
	}
}

.btn-lg{
	font-size: 150%;
}