.entry-content{
	@extend .border-base;
	margin: ($line-height-computed / 2) 0;
	padding: ($line-height-computed / 2);
	@media (min-width: $screen-sm){
		margin: $line-height-computed;
		padding: $line-height-computed;
	}

	p{
		font-size: $font-size-base;
		@media (min-width: $screen-sm){
			font-size: $font-size-large;
		}
	}

	img{
		width: 100%;
	}
}