@mixin border-base(){
	border: 5px solid;
}
@mixin border-sm(){
	border: 2px solid;
} 
h1, h2, h3, h4, h5, h6{
	@include border-base;
	display: inline-block;
}
h1, h2, h3{
	padding: $line-height-computed;
}
h4, h5, h6{
	padding: ($line-height-computed / 2);
}

.border, .box{
	h2, h3, h4, h5, h6{
		border: none;
		margin: 0;
		display: block;
	}
}

.border{
	@include border-base;
	padding: $line-height-computed;
}

.box{
	padding: $line-height-computed;
	display: block;
	text-align: center;
	h2{
		padding-left: 0;
		padding-right: 0;
		text-transform: capitalize;
		letter-spacing: 2px;
	}
	p{
		font-size: 105%;
		margin: 0;
	}
}

.box-border{
	@include border-base;
}

.box-black{
	background: $black;
	color: $white;
}

.box-white{
	background: $white;
	color: $black;
}