@mixin border-base(){
	border: 5px solid;
}
@mixin border-sm(){
	border: 2px solid;
} 
h1, h2, h3, h4, h5, h6{
	@include border-base;
	display: inline-block;
}
h1, h2, h3{
	padding: $line-height-computed;
}
h4, h5, h6{
	padding: ($line-height-computed / 2);
}

.border, .box{
	h2, h3, h4, h5, h6{
		border: none;
		margin: 0;
		display: block;
	}
}

.border{
	@include border-base;
	padding: $line-height-computed;
}

.box{
	@include border-base;
	padding: $line-height-computed;
}

.box-black{
	background: $black;
	color: $white;
}