/**
 *
 * This variables file will override Bootstraps default variables defined here:
 * bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 * We attempt to maintain the same defination order as Bootstrap's variable file as well
 *
 */

 // Flexbox Grid
 $gutter-width:			1.5rem;
 $outer-margin: 		3rem;
 $gutter-compensation: (($gutter-width / 2) * -1);

 //jchck-btn
 // Uses same variable names as Bootstrap
 $btn-border-radius-base: 0px;

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$black:					#1C140D;
$white:					#fff;
$brand-primary:         #27ae60;

// Scaffolding
$body-bg: 				$black;
$text-color:			$white;

// $link-color:           	$text-color;
// $link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: none;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base:          20px;

// Navigation
$nav-link-hover-bg: 	$black;