/**
 *
 * Bow Tie's Main Variables File
 *
 */


/**
 *
 * Flexbox Grid
 * @link http://flexboxgrid.com
 *
 */

 $gutter-width:			1.5rem;
 $outer-margin: 		3rem;
 $gutter-compensation: (($gutter-width / 2) * -1);

/**
 *
 * jchck-btn
 * Uses same variable names as Bootstrap
 * @link https://github.com/jchck/jchck-btn
 *
 */

 $btn-border-radius-base: 0px;

 /**
  *
  * Bootstrap
  * @link http://getbootstrap.com
  *
  */

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$black:					#1C140D;
$white:					#fff;
$yellow:				#fff000;
$brand-primary:         #27ae60;

// Scaffolding
$body-bg: 				$black;
$text-color:			$white;

$link-color:           	$text-color;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: none;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base:          20px;

// Navigation
$nav-link-hover-bg: 	$black;