footer{
	.box.box-black{
		a{
			color: $white;
			box-shadow: none;
			border-bottom: 0;
			&.login:hover{
				color: $white;
				background-color: transparent;
			}
		}
	}
	.left{
		@media (min-width: $screen-sm){ float: left }
	}
	.right{
		@media (min-width: $screen-sm){ float: right  }
	}
}