footer{
	.box.box-black{
		a{
			color: $gray;
			box-shadow: none;
			border-bottom: 0;
			&:hover{
				color: $white;
				background-color: transparent;
			}
			&.login:hover{
				color: $gray;
				background-color: transparent;
			}
		}
		a.bow-tie:hover{ background-color: transparent }
	}

	h5{
		font-size: 85%;
		color: $gray;
	}

	svg #Groom{ 
		stroke: $white;
	}

	.left{
		@media (min-width: $screen-sm){ float: left }
	}
	.right{
		@media (min-width: $screen-sm){ float: right  }
	}
}