header{
	padding: ($outer-margin + $gutter-compensation) 0;

	h1{
		font-size: $font-size-h2;
		@media (min-width: $screen-sm){
			font-size: $font-size-h1;
		}
		border-color: $black;
		margin: 0;
		.navbar-brand{
			font-size: $font-size-large;
			@media (min-width: $screen-sm){
				font-size: $font-size-h1;
			}
		}
		a{
			// color: $black;
			&:hover{
				text-decoration: none;
				color: $black;
			}
		}
	}

	.nav{
		> li{
			display: inline;
			text-align: center;
			padding: 0;
			@media (min-width: $screen-sm){
				display: inline-block;
			}
		}
		a{
			@include border-sm;
			color: $black;
			padding: 5px;

			font-size: 80%;
		}
		> .active a{
			color: $white;
			border-color: $black;
			background-color: $nav-link-hover-bg;
		}
	}

	@media (min-width: $screen-sm){
		.nav{
			margin-top: 35.5px;
			a{
				padding: $nav-link-padding;
				&:hover{
					color: $white;
					border-color: $black;
				}
			}
		}
	}

	.navbar-toggle{
		border-radius: 0;
		margin-top: 44.5px;
	}

}