header{
	padding: ($outer-margin + $gutter-compensation) 0;

	h1{
		font-size: $font-size-h2;
		@media (min-width: $screen-sm){
			font-size: $font-size-h1;
		}
		border-color: $black;
		margin: 0;
		a{
			color: $black;
			&:hover{
				text-decoration: none;
				color: $black;
			}
		}
	}

	.nav{
		> li{
			display: inline-block;
			padding: 0;
		}
		a{
			@include border-sm;
			color: $black;
			padding: 5px;

			font-size: 80%;
		}
		> .active a{
			color: $white;
			border-color: $black;
			background-color: $nav-link-hover-bg;
		}
	}

	@media (min-width: $screen-sm){
		// .nav{
		// 	> li{
		// 		//display: inline-block;
		// 		//padding: 0;
		// 	}
		// 	a{
		// 		// @include border-sm;
		// 		//color: $black;
		// 		padding: $nav-link-padding;
		// 		&:hover{
		// 			color: $white;
		// 			border-color: $black;
		// 		}
		// 	}
		// 	> .active a{
		// 		//color: $white;
		// 		//border-color: $black;
		// 		//background-color: $nav-link-hover-bg;
		// 	}
		// }
	}

}