header{
	padding: ($outer-margin + $gutter-compensation) 0;

	h1{
		border-color: $black;
		margin: 0;
		a{
			color: $black;
			&:hover{
				text-decoration: none;
				color: $black;
			}
		}
	}

	nav{
		display: none;
		@media (min-width: $screen-sm){
			display: block;
		}
	}

	.nav{
		> li{
			display: inline-block;
			padding: 0;
		}
		a{
			@include border-sm;
			color: $black;
			padding: $nav-link-padding;
			&:hover{
				color: $white;
				border-color: $black;
			}
		}
		> .active a{
			color: $white;
			border-color: $black;
			background-color: $nav-link-hover-bg;
		}
	}
}