.post-header{
	padding: 0;
	position: relative;
	height: 50vh;
	@media (max-width: $screen-sm){ background-image: none !important }
}
article.post{
	padding-left: 0;
	padding-right: 0;
}
.entry-title{
	@include border-base;
	@extend .text-center;
	padding: $line-height-computed;

	h1{
		padding: 0;
		border: none;

		margin-bottom: ($line-height-computed / 2);
		border-bottom: 2px solid;
		padding-bottom: ($line-height-computed / 2);
	}

	.meta{

		li{
			@include border-sm;
			border-color: $black;
			padding-top: 2px;
			padding-bottom: 2px;
			a{
				color: $white;
			}
			&:hover{
				border-color: $white;
			}
		}
	}
	time{
		padding-top: 4px;
		padding-bottom: 4px;
		display: block;
	}
}

.sidebar-img{
	margin: $line-height-computed 0;

	&:first-of-type{
		margin-top: 0;
	}
}

a.box{
	@include ease-in-out;
	header{
		@include ease-in-out;
		@include border-base;
		border-color: $black;
		filter: none;
	}
	&:not(.has-post-thumbnail){
		header{
			background-color: $black;
		}
	}
	h2{
		@include ease-in-out;
		color: $white;
		box-shadow: inset 0 -3px 0 $yellow;
		border-bottom: 3px solid $yellow;
	}
	.entry-summary{
		color: $black;
	}

	&:hover{
		header{
			filter: grayscale(1);
			h2{
				color: $white;
				box-shadow: none;
				border-bottom-color: transparent;
			}
		}
	}
	&:not(.has-post-thumbnail):hover{
		header{
			background-color: $gray-lighter;
			h2{
				color: $black;
			}
		}
	}
}

a.post{
	width: 100%;
}