.post-header{
	padding: 0;
	position: relative;
	height: 50vh;
}
.entry-title{
	@include border-base;
	@extend .text-center;
	padding: $line-height-computed;

	h1{
		padding: 0;
		border: none;

		margin-bottom: ($line-height-computed / 2);
		border-bottom: 2px solid;
		padding-bottom: ($line-height-computed / 2);
	}

	.meta{

		li{
			@include border-sm;
			border-color: $black;
			padding-top: 2px;
			padding-bottom: 2px;
			a{
				color: $white;
			}
			&:hover{
				border-color: $white;
			}
		}
	}
	time{
		padding-top: 4px;
		padding-bottom: 4px;
		display: block;
	}
}

.sidebar-img{
	margin: $line-height-computed 0;

	&:first-of-type{
		margin-top: 0;
	}
}